* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Ubuntu", sans-serif;
}

html, 
body,
.__next {
  background-color: #282a36;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
