@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Ubuntu", sans-serif;
}

/* https://stackoverflow.com/a/27935448 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

svg {
  display: initial !important;
}

html,
body,
#__next {
  background-color: #282a36;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#ramais span {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}

#ramais span div {
  height: 100%;
}

.markdown-body {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #fff;
  padding: 0 1rem;
  max-width: 100%;
  overflow: auto;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent !important;
}