.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 10px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  text-transform: capitalize;

  h1 {
    outline: none;
  }
}

.main {
  height: 100%;
  padding: 20px;
  width: 100%;
  color: aliceblue;
}

.description {
  height: 95%;
  max-height: 95%;
  max-width: 100%;
  border: 0;
  outline: none;
  overflow-y: auto;
  overflow-x: none;
  font-size: 1.3rem;
}
